@import "tailwindcss";

@theme {
  --background-image-uber: url('https://images.unsplash.com/photo-1617479582427-e67ee0e3c0cc?q=80&w=3087&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  --background-image-uber-driver:url("uber-driver-logo.svg")
}

@keyframes dots {
  0%, 20% {
    content: ".";
  }
  40% {
    content: "..";
  }
  60% {
    content: "...";
  }
  80%, 100% {
    content: "";
  }
}

.dot-animation::after {
  content: "";
  animation: dots 1.5s infinite steps(1, end);
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
